body {
  font-family: 'Special Elite', cursive !important;		
  background: #A8D8EA !important;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box
}

/*NAVBAR*/
.navbar {
  background-color: #005086 !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-around;
}

.navbar a {
  font-weight: 200;
  color: white !important;
  padding: 14px 16px;
  text-decoration: none;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; /*height to 100% of view height*/
  background: #A8D8EA !important; /*background color to blue*/
  margin-bottom: 0; /*no bottom margin*/

  display: flex;
  flex-direction: inherit;
}
img {
  border-radius: 50%;
}
.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: #005086 !important;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: None;
}

.social {
  font-size: 4em;
  color: #005086 !important;
  padding: 40px;
}

/*ARROW LINK*/
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: #005086 !important;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.content-body{
  margin-left: 20px;
  text-align: center;
}

.white {
 
  background: white !important;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

h2 {
  font-weight: 200;
  font-size: 3rem;
  color: #005086 !important;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgb(0,0,0) !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.1rem;
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: #b0cac7 !important;
  border: 1px solid #b0cac7 !important;
  border-radius: .25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #005086 !important;
  border-bottom: 1px solid #005086 !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-family: 'Cormorant Upright', serif !important;
  font-size: 2rem;
  font-weight: 400;
  color: white !important;
}

.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: #b0cac7 !important;
  border: 1px solid white !important;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white !important;
  text-decoration:None;
  background: #005086 !important;
  list-style: circle;
  cursor: default;
  font-size: 1.2em;
}
.link{
	color:white !important;
	text-decoration:None;
}
.ibm-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #005086 !important;
  background: #b0cac7 !important;
  list-style: circle;
  cursor: default;
  font-size: 1em;
   border-radius: 1em;
}

/*CONTACT*/
.blue {
  background: #A8D8EA !important;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #005086 !important;
  color: #fff !important;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 20%;
  background: #b0cac7 !important;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #005086 !important;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.white-text {
  color: #005086 !important;
  text-decoration:None;
}


.sidebar{
  visibility: hidden;
}
.navbar{
  position: fixed !important;
  z-index: 1;
}

.container{
  padding: 0 !important;
  margin: 0 !important;

  max-width: 100% !important;
}
.jumbotron{
  height: fit-content !important;
}
.row{
  padding-top: 50px;
  height: fit-content;
}



/* mobile navbar sidebar under lg breakpoint */
@media (max-width: 992px) {
  

  .project-card.row {
    margin-left: 40px !important;
  }

}
@media (min-width: 992px) {
  

  .project-card.row {
    margin-left: 250px !important;
  }

}

